/* footer */

    .footer{background-image:url(../images/footer-bg.jpg);background-position: center top;padding:40px 0 50px 0;
        .footer-logo{float: left;margin-right: 82px;margin-left: 10px;}
        .footer-nav-list{float: left;margin-right: 42px;padding-top: 8px;
            &:last-child{margin-right: 0;}
            li{margin-bottom: 7px;
                &:last-child{margin-bottom: 0;}
            }
            a{text-decoration: none;text-transform: uppercase;font-size: 14px;color:#736998;position: relative;
                &:before{content:attr(data-hover);position: absolute;left:0;top:1px;bottom:0;display:block;width: 0;color:#e40023;overflow:hidden;transition:width 300ms ease;}
                &:hover{
                    &:before{width: 100%;}
                }
            }
            &.second-list{margin-right: 0px;padding-top: 3px;
                li{margin-bottom: 3px;
                    &:last-child{margin-bottom: 0;}
                }
                a{font-size: 12px;font-weight: 400;text-transform: none;}
            }
        }

        .socials-wrap{float: right;margin-right: -8px;padding-top: 21px;
            .socials-item{display: inline-block;margin-right: 1px;
                &:last-child{margin-right: 0;}
            }
            a{display: block;width: 38px;height: 38px;background-color:#527498;border-radius: 50%;display: flex;justify-content:center;align-items:center;position: relative;
                &:before{content:'';display: block;position: absolute;background-color:#3f3867;width: 100%;height: 100%;border-radius:50%;left:0;top:0;transform:scale(1);transition:transform 300ms ease;}
                img{position: relative;z-index: 1;}
                &:hover{
                    &:before{transform:scale(0);}
                }
            }
        }

    }

/* /footer */

/* header */

    .header{padding-top: 26px;

        .header-top{display: flex;align-items:flex-end;justify-content:space-between;margin-bottom: 24px;
            .header-text{font-size: 30px;line-height:28px;color:#1a133b;max-width: 355px;width: 100%;font-family:'ProximaNova', sans-serif;
                span{font-size: 39px;}
            }
            .header-contacts{text-align: right;color:#1a133b;
                .header-contacts-top{font-size: 14px;font-family: 'ProximaNova', sans-serif;margin-top: -6px;margin-bottom: 6px;
                    p{margin-bottom: 2px;}
                }
                .header-contacts-bottom{font-size: 28px;color:#1b133b;
                    p{margin-bottom: 3px;
                        &:last-child{margin-bottom: 0;}
                    }
                    span{color:#e40023;font-weight: 700;}
                }
            }
        }

        .header-bottom{display: flex;justify-content:space-between;background-color: #e40023;border-bottom: 5px solid #aa001a;padding:8px 9px 8px 15px;

            .header-nav{padding-top:8px;
                ul{display: flex;}
                a{display: block;padding:5px 14px 5px 17px;border-radius: 5px;text-decoration: none;color:#fff;font-weight: 700;font-size: 14px;overflow: hidden;position: relative;
                    span{position: relative;z-index: 1;}
                    &:before, &:after{content: '';display: block;position: absolute;z-index:0;background-color: #bf0b27;top:calc(50% - 1px);bottom:calc(50% - 1px);width: 0;transition:width 500ms ease 300ms,top 300ms ease, bottom 300ms ease;}
                    &:before{left:0;}
                    &:after{right:0;}
                    &:hover{
                        &:before, &:after{width: 50%;top:0;bottom:0;transition:width 500ms ease, top 300ms ease 500ms, bottom 300ms ease 500ms;}
                    }
                }
            }

            .header-search{position: relative;
                .header-search-wrap{
                    input{border:none;background-color: #d50121;height: 40px;line-height: 40px;padding:0 30px 0 15px;font-weight: 700;color:#fff;font-size:14px;width: 200px;transition:background-color 300ms ease, box-shadow 300ms ease;
                        &::-webkit-input-placeholder{color:#fff;}
                        &:-moz-placeholder {color:#fff;}
                        &::-moz-placeholder {color:#fff;}
                        &:-ms-input-placeholder {color:#fff;}
                        &:focus{background-color: #bf0b27;box-shadow:inset 0 0 15px 0 rgba(136, 112, 106, .25);
                           &::-webkit-input-placeholder{color:transparent;}
                           &:-moz-placeholder {color:transparent;}
                           &::-moz-placeholder {color:transparent;}
                           &:-ms-input-placeholder {color:transparent;}
                        }
                    }
                }
                .header-search-button{position: absolute;right: 10px;top:calc(50% - 7.5px);
                    button{padding:0;margin: 0;border: none;background-color: transparent;}
                }
            }

        }

    }

/* /header */

/* breadcrumbs */

    .breadcrumbs{background-color: #fff;
        .breadcrumbs-wrap{padding:7px 0 8px 0;border-bottom: 1px solid #eee;margin: 0 20px;}
        li{display: inline-block;margin-right: 14px;position: relative;font-weight: 500;font-size: 12px;color:#757575;
            &:after{content: '';position: absolute;left:calc(100% + 8.5px);top:calc(50% - 2px);border-width: 2px 0 2px 4px;border-style:solid;border-color: transparent transparent transparent #757575;}
            &:last-child{margin-right: 0;
                &:after{display: none;}
            }
            a{position: relative;color:#e40023;text-decoration: none;transition:color 300ms ease;
                &:after{content: '';display: block;position: absolute;height: 1px;width: 100%;bottom: 0%;left: 0;background-color: #e40023;transition:width 300ms ease, background-color 300ms ease;}
                &:hover{color:orange;
                    &:after{background-color: orange;width: 0;}
                }
            }
        }
    }

/* /breadcrumbs */

/* contact-us */

    .contact-us{padding:20px 0 0 0;

        .contact-top{display: flex;justify-content:space-between;flex-wrap:wrap;margin-bottom:  20px;padding-top: 4px;
            .contact-col{width: calc(50% - 12px);border:1px solid #eeeeee;display: flex;align-items:center;min-height: 118px;
                .contact-img{width: 105px;padding:0 5px;text-align: center;}
                .contact-text{width: calc(100% - 105px);padding: 0 15px 0 0;font-family: 'ProximaNova', sans-serif;color:#1a133b;font-size: 18px;
                    p{margin-bottom: 3px;
                        &:last-child{margin-bottom:0;}
                    }
                    &.contact-text-tel{font-size: 24px;
                        p{margin-bottom: 5px;
                            &:last-child{margin-bottom: 0;}
                        }
                    }
                }
            }
        }

        .contact-bottom{border:1px solid #eeeeee;padding: 30px 40px 40px 40px;margin-bottom: 30px;
            .contact-map{width: 100%;height: 560px;}
        }

    }

/* /contact-us */