<section class="main-big-slider">
    <div class="mbox">
        <div class="slider-main">
            <div class="item">
                <div class="item-img">
                    <img src="images/slider-img-1.jpg" alt="">
                </div>
                <div class="item-text">
                    <b>Клубное <br> предложение!</b>
                    <p>Скидка 20% всем автоклубам!</p>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="images/slider-img-2.jpg" alt="">
                </div>
                <div class="item-text">
                    <b>Клубное <br> предложение!</b>
                    <p>Скидка 20% всем автоклубам! Скидка 20% всем автоклубам!</p>
                </div>
            </div>
        </div>
    </div>
</section>