<div class="popular-tovar">
    <div class="title-word">
        <h2>Категории<br>товаров</h2>
    </div>
    <div class="flex-items big">
        <div class="flex-item">
            <div class="item-wrap">
                <a href="#">
                    <div class="item-img">
                        <img src="images/flex-items-big-1.jpg" alt="">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <div class="item-text-oko">
                                <img src="images/oko.png" alt="">
                            </div>
                            <p>Пленка для оклейки</p>
                            <p>автомобилей</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex-item">
            <div class="item-wrap">
                <a href="#">
                    <div class="item-img">
                        <img src="images/flex-items-big-2.jpg" alt="">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <div class="item-text-oko">
                                <img src="images/oko.png" alt="">
                            </div>
                            <p>Дизайнерские пленки </p>
                            <p>для автомобилей</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex-item">
            <div class="item-wrap">
                <a href="#">
                    <div class="item-img">
                        <img src="images/flex-items-big-3.jpg" alt="">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <div class="item-text-oko">
                                <img src="images/oko.png" alt="">
                            </div>
                            <p>Наклейки </p>
                            <p>для iPhone и iPad</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>