<div class="contact-us">

    <div class="title-word">
        <h2>Контакты</h2>
    </div>

    <div class="contact-top">

        <div class="contact-col">

            <div class="contact-img">
                <img src="images/contact-img1.png" alt="" />
            </div>

            <div class="contact-text">
                <p>г. Одесса,</p>
                <p>СТО"Hornet", Царское село,</p>
                <p>ул. Солнечная, 29. Бокс №2</p>
            </div>

        </div>
        <div class="contact-col">

            <div class="contact-img">
                <img src="images/contact-img2.png" alt="" />
            </div>

            <div class="contact-text">
                <p>(050) 395-34-29</p>
                <p>(067) 749-43-78</p>
            </div>

        </div>

    </div>

    <div class="contact-bottom">
        <div class="contact-map" id="contact-map"></div>
    </div>

</div>