<!-- FOOTER -->

<div class="footer_placeholder"></div>

<footer class="footer">

    <div class="mbox">

        <div class="footer-logo">
            <a href="#">
                <img src="images/footer-logo.png" alt="" />
            </a>
        </div>

        <div class="footer-nav-list">

            <ul>
                <li>
                    <a href="#" data-hover="Главная">Главная</a>
                </li>
                <li>
                    <a href="#" data-hover="Услуги">Услуги</a>
                </li>
                <li>
                    <a href="#" data-hover="Магазин">Магазин</a>
                </li>
            </ul>

        </div>

        <div class="footer-nav-list second-list">
            <ul>
                <li>
                    <a href="#" data-hover="Акции">Акции</a>
                </li>
                <li>
                    <a href="#" data-hover="Наши работы">Наши работы</a>
                </li>
                <li>
                    <a href="#" data-hover="Контакты">Контакты</a>
                </li>
                <li>
                    <a href="#" data-hover="О нас">О нас</a>
                </li>
            </ul>
        </div>

        <div class="socials-wrap">
            <div class="socials-item">
                <a href="#">
                    <img src="images/socials-img1.png" alt="" />
                </a>
            </div>
            <div class="socials-item">
                <a href="#">
                    <img src="images/socials-img2.png" alt="" />
                </a>
            </div>
        </div>

    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
