<!-- FOOTER -->

<div class="footer_placeholder"></div>

<footer class="footer">

    <div class="mbox">

        <div class="footer-logo">
            <a href="#">
                <img src="images/footer-logo.png" alt="" />
            </a>
        </div>

        <div class="footer-nav-list">

            <ul>
                <li>
                    <a href="#" data-hover="Главная"><span>Главная</span>Главная</a>
                </li>
                <li>
                    <a href="#" data-hover="Услуги"><span>Услуги</span>Услуги</a>
                </li>
                <li>
                    <a href="#" data-hover="Магазин"><span>Магазин</span>Магазин</a>
                </li>
            </ul>

        </div>

        <div class="footer-nav-list second-list">
            <ul>
                <li>
                    <a href="#" data-hover="Акции"><span>Акции</span>Акции</a>
                </li>
                <li>
                    <a href="#" data-hover="Наши работы"><span>Наши работы</span>Наши работы</a>
                </li>
                <li>
                    <a href="#" data-hover="Контакты"><span>Контакты</span>Контакты</a>
                </li>
                <li>
                    <a href="#" data-hover="О нас"><span>О нас</span>О нас</a>
                </li>
            </ul>
        </div>

        <div class="socials-wrap">
            <div class="socials-item">
                <a href="#">
                    <img src="images/socials-img1.png" alt="" />
                </a>
            </div>
            <div class="socials-item instagrram">
                <a href="#">
                    <img src="images/socials-img2.png" alt="" />
                </a>
            </div>
        </div>

    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->

<script>

    var cordX = 46.379430, cordY = 30.710735;

</script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
