<!-- HEADER -->
<header class="header">

    <div class="mbox">

        <div class="header-top">

            <div class="header-logo">
                <img src="images/header-logo.png" alt="" />
            </div>

            <div class="header-text">
                <h2><span>Професиональное</span> оклеивание вашего авто</h2>
            </div>

            <div class="header-contacts">
                <div class="header-contacts-top">
                    <p>г. Одесса,</p>
                    <p>СТО"Hornet", Царское село,</p>
                    <p>ул. Солнечная, 29. Бокс №2</p>
                </div>
                <div class="header-contacts-bottom">
                    <p><span>(050)</span> 395 34 29</p>
                    <p><span>(067)</span> 749 43 78</p>
                </div>
            </div>

        </div>

        <div class="header-bottom">

            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="#call_success" class="fancybox-form">
                            <span>Главная</span>
                        </a>
                    </li>
                    <li>
                        <a href="#call_error" class="fancybox-form">
                            <span>Услуги</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Магазин</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Акции</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Наши работы</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Контакты</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>О нас</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="header-search">
                <form>

                    <div class="header-search-wrap">
                        <input type="text" placeholder="Поиск" />
                    </div>

                    <div class="header-search-button">
                        <button type="submit">
                            <img src="images/header-search-img.png" alt="" />
                        </button>
                    </div>

                </form>
            </div>

        </div>

    </div>

</header>
<!-- /HEADER -->

