<!-- HEADER -->
<header>

    <div class="mbox">

        <div class="header-top">

            <div class="header-logo">
                <img src="images/header-logo.png" alt="" />
            </div>

            <div class="header-text">
                <h2><span>Професиональное</span> оклеивание вашего авто</h2>
            </div>

            <div class="header-contacts">
                <div class="heder-contacts-top">
                    <p>г. Одесса,</p>
                    <p>СТО"Hornet", Царское село,</p>
                    <p>ул. Солнечная, 29. Бокс №2</p>
                </div>
                <div class="header-contacts-bottom">
                    <p>(050) 395 34 29</p>
                    <p>(067) 749 43 78</p>
                </div>
            </div>

        </div>

        <div class="header-bottom">

            <div class="header-nav">
                <ul>
                    <li>
                        <a href="#">Главная</a>
                    </li>
                    <li>
                        <a href="#">Услуги</a>
                    </li>
                    <li>
                        <a href="#">Магазин</a>
                    </li>
                    <li>
                        <a href="#">Акции</a>
                    </li>
                    <li>
                        <a href="#">Наши работы</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                </ul>
            </div>

            <div class="header-search">
                <form>

                    <div class="header-search-wrap">
                        <input type="text" placeholder="Поиск" />
                    </div>

                    <div class="header-search-button">
                        <button type="submit">
                            <img src="images/header-search-img.png" alt="" />
                        </button>
                    </div>

                </form>
            </div>

        </div>

    </div>

</header>
<!-- /HEADER -->

