<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
            <div class="call_success">
                <div class="call-img">
                    <img src="images/good.jpg" alt="">
                </div>
                <div class="call-title">Ваша заявка принята</div>
                <div class="call-subtitle">Наш менеджер свяжется  с вами в ближайшее время</div>
            </div>
        </div>
    </div>

    <div id="call_error">
        <div class="call-error">
            <div class="call_error">
                <div class="call-img">
                    <img src="images/bad.jpg" alt="">
                </div>
                <div class="call-error-title call-title">Ошибка</div>
                <div class="call-subtitle">Что то пошло не так</div>
            </div>
        </div>
    </div>
</div>