<div class="little-slider">
    <div class="mbox">
        <div class="little-slider-main three-items">
            <div class="item">
                <a href="#">
                    <div class="item-img">
                        <img src="images/mini-slider-1.jpg" alt="">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <p>Kia Rio</p>
                            <p><b>Дизайн Дрифт</b></p>
                            <img src="images/oko.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="item-img">
                        <img src="images/mini-slider-2.jpg" alt="">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <p>Kia Rio</p>
                            <p><b>Дизайн Дрифт</b></p>
                            <img src="images/oko.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="item-img">
                        <img src="images/mini-slider-3.jpg" alt="">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <p>Kia Rio</p>
                            <p><b>Дизайн Дрифт</b></p>
                            <img src="images/oko.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="item-img">
                        <img src="images/mini-slider-1.jpg" alt="">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <p>Kia Rio</p>
                            <p><b>Дизайн Дрифт</b></p>
                            <img src="images/oko.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="item-img">
                        <img src="images/mini-slider-2.jpg" alt="">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <p>Kia Rio</p>
                            <p><b>Дизайн Дрифт</b></p>
                            <img src="images/oko.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="item-img">
                        <img src="images/mini-slider-3.jpg" alt="">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <p>Kia Rio</p>
                            <p><b>Дизайн Дрифт</b></p>
                            <img src="images/oko.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>