<div class="wrap-partner">
    <div class="title-text1">
        <h2>Партнеры</h2>
    </div>
    <div class="conteiner cfix">
        <a class="item">
            <div class="con">
                <div class="becon">
                    <img src="images/pi1.jpg" alt="">
                </div>
            </div>
            <div class="after-text"> <span>biocard.com</span></div>

        </a>
        <a class="item">
            <div class="con">
                <div class="becon">
                    <img src="images/pi2.jpg" alt="">
                </div>
            </div>
            <div class="after-text"><span>acura.com</span></div>

        </a>
        <a class="item">
            <div class="con">
                <div class="becon">
                    <img src="images/pi3.jpg" alt="">
                </div>
            </div>
            <div class="after-text"><span>federal.com</span></div>

        </a>
        <a class="item">
            <div class="con">
                <div class="becon">
                    <img src="images/pi4.jpg" alt="">
                </div>
            </div>
            <div class="after-text"><span>bajaj.com</span></div>

        </a>
    </div>
</div>