<div class="plenka-wrap">
    <div class="title">
        <h2>Пленка<br>Hexis Серия Suptac S5000</h2>
    </div>
    <div class="txt">
        <p>Обращаем Ваше внимание на то, что отображаемый на Вашем мониторе цвет, может значительно отличаться от реального цвета материала, что обусловлено спецификой цветопередачи дисплеями различных производителей. При выборе цвета рекомендуем пользоваться каталогами и цветовыми палитрами серий.</p>
    </div>
    <div class="items-container">
        <div class="item-wrapper">
            <label>
                <input type="checkbox" name="checkbox_01"  value="value">
                <div class="item">
                    <div class="img"><img src="images/header-logo.png" alt=""></div>
                    <div class="text">
                        <p>s5001b</p>
                        <p>белый глянец</p>
                        <p>4000грн</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="item-wrapper">
            <label>
                <input type="checkbox" name="checkbox_02"  value="value">
                <div class="item">
                    <div class="img"><div style="background-color:#ff3344"></div></div>
                    <div class="text">
                        <p>s5001b</p>
                        <p>белый глянец</p>
                        <p>4000грн</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="item-wrapper">
            <label>
                <input type="checkbox" name="checkbox_03"  value="value">
                <div class="item">
                    <div class="img"><div style="background-color:#ff4499"></div></div>
                    <div class="text">
                        <p>s5001b</p>
                        <p>белый глянец</p>
                        <p>4000грн</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="item-wrapper">
            <label>
                <input type="checkbox" name="checkbox_04"  value="value">
                <div class="item">
                    <div class="img"><div style="background-color:#443399"></div></div>
                    <div class="text">
                        <p>s5001b</p>
                        <p>белый глянец</p>
                        <p>4000грн</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="item-wrapper">
            <label>
                <input type="checkbox" name="checkbox_05"  value="value">
                <div class="item">
                    <div class="img"><img src="images/header-logo.png" alt=""></div>
                    <div class="text">
                        <p>s5001b</p>
                        <p>белый глянец</p>
                        <p>4000грн</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="item-wrapper">
            <label>
                <input type="checkbox" name="checkbox_06"  value="value">
                <div class="item">
                    <div class="img"><div style="background-color:#ff3344"></div></div>
                    <div class="text">
                        <p>s5001b</p>
                        <p>белый глянец</p>
                        <p>4000грн</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="item-wrapper">
            <label>
                <input type="checkbox" name="checkbox_07"  value="value">
                <div class="item">
                    <div class="img"><div style="background-color:#ff4499"></div></div>
                    <div class="text">
                        <p>s5001b</p>
                        <p>белый глянец</p>
                        <p>4000грн</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="item-wrapper">
            <label>
                <input type="checkbox" name="checkbox_08"  value="value">
                <div class="item">
                    <div class="img"><div style="background-color:#443399"></div></div>
                    <div class="text">
                        <p>s5001b</p>
                        <p>белый глянец</p>
                        <p>4000грн</p>
                    </div>
                </div>
            </label>
        </div>

    </div>
</div>