<div class="search">
    <div class="search-top">
        <div class="title-word">
            <h2>Поиск<br>по сайту</h2>
        </div>
        <div class="search-top-wrap">
            <form action="" name="search-form">
                <div class="search-form-wrap">
                    <div class="search-form-input">
                        <input type="text" placeholder="Введите ключевые слова для поиска" name="search-text">
                    </div>
                    <div class="search-form-button">
                        <button type="submit">Поиск</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="search-bottom-wrap">
        <div class="title-word">
            <h2>Результаты<br>поиска</h2>
        </div>
        <div class="search-results">
            <div class="item">
                <div class="title">
                    <a href="#">
                        Оклейка Gemballa Porsche Cayenne Turbo в чёрную бархатную тактильную матовую пленку
                    </a>
                </div>
                <div class="text">
                    ... Главное фото работы:  <b>Оклейка</b> Gemballa Porsche Cayenne Turbo в чёрный бархатный тактильный мат. Оклейка авто плёнкой супермат. Владелец ...
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <a href="#">
                        Оклейка Gemballa Porsche Cayenne Turbo в чёрную бархатную тактильную матовую пленку
                    </a>
                </div>
                <div class="text">
                    ... Главное фото работы:  <b>Оклейка</b> Gemballa Porsche Cayenne Turbo в чёрный бархатный тактильный мат. Оклейка авто плёнкой супермат. Владелец ...
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <a href="#">
                        Оклейка Gemballa Porsche Cayenne Turbo в чёрную бархатную тактильную матовую пленку
                    </a>
                </div>
                <div class="text">
                    ... Главное фото работы:  <b>Оклейка</b> Gemballa Porsche Cayenne Turbo в чёрный бархатный тактильный мат. Оклейка авто плёнкой супермат. Владелец ...
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <a href="#">
                        Оклейка Gemballa Porsche Cayenne Turbo в чёрную бархатную тактильную матовую пленку
                    </a>
                </div>
                <div class="text">
                    ... Главное фото работы:  <b>Оклейка</b> Gemballa Porsche Cayenne Turbo в чёрный бархатный тактильный мат. Оклейка авто плёнкой супермат. Владелец ...
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <a href="#">
                        Оклейка Gemballa Porsche Cayenne Turbo в чёрную бархатную тактильную матовую пленку
                    </a>
                </div>
                <div class="text">
                    ... Главное фото работы:  <b>Оклейка</b> Gemballa Porsche Cayenne Turbo в чёрный бархатный тактильный мат. Оклейка авто плёнкой супермат. Владелец ...
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <a href="#">
                        Оклейка Gemballa Porsche Cayenne Turbo в чёрную бархатную тактильную матовую пленку
                    </a>
                </div>
                <div class="text">
                    ... Главное фото работы:  <b>Оклейка</b> Gemballa Porsche Cayenne Turbo в чёрный бархатный тактильный мат. Оклейка авто плёнкой супермат. Владелец ...
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <a href="#">
                        Оклейка Gemballa Porsche Cayenne Turbo в чёрную бархатную тактильную матовую пленку
                    </a>
                </div>
                <div class="text">
                    ... Главное фото работы:  <b>Оклейка</b> Gemballa Porsche Cayenne Turbo в чёрный бархатный тактильный мат. Оклейка авто плёнкой супермат. Владелец ...
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <a href="#">
                        Оклейка Gemballa Porsche Cayenne Turbo в чёрную бархатную тактильную матовую пленку
                    </a>
                </div>
                <div class="text">
                    ... Главное фото работы:  <b>Оклейка</b> Gemballa Porsche Cayenne Turbo в чёрный бархатный тактильный мат. Оклейка авто плёнкой супермат. Владелец ...
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagi-wrap">
    <ul>
        <li>
            <a href="" class="prew-page previouspostslink"><<</a>
        </li>
        <li>
            <a href="">1</a>
        </li>
        <li>
            <a href="">2</a>
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <span  class="active">98</span>
        </li>
        <li>
            <a href="">99</a>
        </li>
        <li>
            <a href="" class="next-page nextpostslink">>></a>
        </li>
    </ul>
</div>