<div class="single-usluga-wrap">
    <div class="conteiner">
        <div class="title-word">
            <h2>Оклейка (изменение цвета)</h2>
        </div>
        <div class="text-block">
            <div class="ctext">
                <p>
                    Уникальная технология оклейки поверхностей любого уровня сложности – гордость компании RE-S. Традиционно самым сложным типом работ считается нанесение виниловой плёнки на такую поверхность, как автомобильный кузов. Сложные изогнутые формы, наличие неоднородных криволинейных поверхностей, а также условия эксплуатации будущей защиты транспортного средства – это далеко не всё, что необходимо учитывать при данном виде работ. Специалисты RE-S проводят качественную оклейку любого типа, будь то защита, реклама или стайлинг автомобиля. Мы обладаем следующими конкурентными преимуществами:
                </p>
                <ul>
                    <li>- передовые технологии и строгий контроль. Все работы и материалы проходят строжайший контроль со стороны наших высокопрофессиональных технологов. Мы гарантируем использование современных, постоянно совершенствующихся технологий оклейки рекламной, защитной или стайлинговой плёнкой вашего авто;</li>
                    <li>- гарантия на работы и материалы. Мы полностью уверены в профессионализме наших специалистов и высоком качестве используемых материалов. Это позволяет нам дать гарантию сроком 1 год на произведенные работы. Оклейка автомобиля пленкой, защита его кузова от вмятин и царапин или яркий стайлинг – всё это прослужит вам не один год;</li>
                    <li>- точность, профессионализм и оперативность. Наши высококлассные мастера под контролем опытных технологов вручную оклеят ваш автомобиль. Желая оградить клиента от любых ошибок, являющихся следствием человеческого фактора, мы гарантируем устранение брака.</li>
                </ul>
            </div>


            <div class="ctext">
                <p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/HvTZbrzzhp4" frameborder="0" allowfullscreen style="height: 558px; width:840px; display: block; margin: 19px auto 12px;" >
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</div>