<div class="single-work-wrap">
    <div class="title cfix">
        <h3>BMW X5 F15 В ПОЛИУРЕТАНЕ</h3>
        <div class="socials">
            <a href="#" class="vk"><i></i><span>3</span></a>
            <a href="#" class="fb"><i></i></a>
            <a href="#" class="tw"><i></i></a>
            <a href="#" class="gp"><i></i><span>1</span></a>
            <a href="#" class="hz"><i></i><span>1</span></a>
        </div>
    </div>
    <div class="txt">
        <p>Уникальная технология оклейки поверхностей любого уровня сложности – гордость компании RE-S. Традиционно самым сложным типом работ считается нанесение виниловой плёнки на такую поверхность, как автомобильный кузов. Сложные изогнутые формы, наличие неоднородных криволинейных поверхностей, а также условия эксплуатации будущей защиты транспортного средства – это далеко не всё, что необходимо учитывать при данном виде работ. Специалисты RE-S проводят качественную оклейку любого типа, будь то защита, реклама или стайлинг автомобиля. Мы обладаем следующими конкурентными преимуществами:</p>
        <br>
        <p>- передовые технологии и строгий контроль. Все работы и материалы проходят строжайший контроль со стороны наших высокопрофессиональных технологов. Мы гарантируем использование современных, постоянно совершенствующихся технологий оклейки рекламной, защитной или стайлинговой плёнкой вашего авто;</p>
        <p>- гарантия на работы и материалы. Мы полностью уверены в профессионализме наших специалистов и высоком качестве используемых материалов. Это позволяет нам дать гарантию сроком 1 год на произведенные работы. Оклейка автомобиля пленкой, защита его кузова от вмятин и царапин или яркий стайлинг – всё это прослужит вам не один год;</p>
        <p>- точность, профессионализм и оперативность. Наши высококлассные мастера под контролем опытных технологов вручную оклеят ваш автомобиль. Желая оградить клиента от любых ошибок, являющихся следствием человеческого фактора, мы гарантируем устранение брака.</p>
    </div>
    <div class="img">
        <img src="images/imaga1.jpg" alt="">
        <img src="images/imaga2.jpg" alt="">
    </div>
    <div class="buttons-row cfix">
        <a href="#" class="prev"><i></i><span>Предыдущая работа</span></a>
        <a href="#" class="next"><span>Следующая работа</span><i></i></a>
    </div>
</div>