<div class="uslugi-catalog uslugi-ver1">
    <div class="uslugi-catalog-top">
       <div class="usluga-item">
           <div class="usluga-item-wrap">
               <div class="item-img">
                   <img src="images/usluga-item-1.jpg" alt="">
                   <div class="item-text">
                        <div class="item-text-wrap">
                            <p>Оклейка авто</p>
                        </div>
                   </div>
               </div>
               <div class="usluga-item-list">
                   <ul>
                       <li><a href="#">Оклейка (изменение цвета)</a></li>
                       <li><a href="#">Камуфлирование</a></li>
                       <li><a href="#">Хромирование</a></li>
                       <li><a href="#">Винилография</a></li>
                       <li><a href="#">Структурная пленка</a></li>
                       <li><a href="#">Тонировка оптики</a></li>
                   </ul>
               </div>
           </div>
       </div>
       <div class="usluga-item">
           <div class="usluga-item-wrap">
               <div class="item-img">
                   <img src="images/usluga-item-2.jpg" alt="">
                   <div class="item-text">
                        <div class="item-text-wrap">
                            <p>Защита авто</p>
                        </div>
                   </div>
               </div>
               <div class="usluga-item-list">
                   <ul>
                       <li><a href="#">Антигравийная защита пленкой</a></li>
                       <li><a href="#">Ламинирование пленкой</a></li>
                       <li><a href="#">Полировка стекол</a></li>
                       <li><a href="#">Атермальная тонировка</a></li>
                       <li><a href="#">Бронировка стекол</a></li>
                       <li><a href="#">Антидождь</a></li>
                       <li><a href="#">Керамическая тонировка</a></li>
                   </ul>
               </div>
           </div>
       </div>
       <div class="usluga-item">
           <div class="usluga-item-wrap">
               <div class="item-img">
                   <img src="images/usluga-item-3.jpg" alt="">
                   <div class="item-text">
                        <div class="item-text-wrap">
                            <p>Индивидуальные услуги</p>
                        </div>
                   </div>
               </div>
               <div class="usluga-item-list">
                   <ul>
                       <li><a href="#">Полировка</a></li>
                       <li><a href="#">Химчистка</a></li>
                       <li><a href="#">Шумо/Виброизоляция</a></li>
                       <li><a href="#">Удаление вматин без покраски</a></li>
                       <li><a href="#">Декор помещений</a></li>
                   </ul>
               </div>
           </div>
       </div>
       <div class="usluga-item">
           <div class="usluga-item-wrap">
               <div class="item-img">
                   <img src="images/usluga-item-4.jpg" alt="">
                   <div class="item-text">
                        <div class="item-text-wrap">
                            <p>Корпоративные услуги</p>
                        </div>
                   </div>
               </div>
               <div class="usluga-item-list">
                   <ul>
                       <li><a href="#">Брендирование</a></li>
                       <li><a href="#">Реклама на авто</a></li>
                       <li><a href="#">Оклейка такси</a></li>
                       <li><a href="#">Винилография</a></li>
                       <li><a href="#">Автомобили спецслужб</a></li>
                   </ul>
               </div>
           </div>
       </div>
       <div class="usluga-item blue-item">
           <div class="item-img">
               <img src="images/blue-item-1.png" alt="">
           </div>
           <div class="text">
               <p><b>Магазин</b></p>
               <p>Посетите наш магазин</p>
           </div>
           <a href="#">Перейти</a>
       </div>
       <div class="usluga-item blue-item">
           <div class="item-img">
               <img src="images/blue-item-2.png" alt="">
           </div>
           <div class="text">
               <p><b>Акции</b></p>
               <p>Ознакомтесь</p>
               <p>с нашими акциями</p>
           </div>
           <a href="#">Перейти</a>
       </div>
    </div>
</div>